.about-wrapper {
  padding: 30px;
  /* padding: 0 30px; */
}

.about-wrapper .name {
  font-size: 28px;
  /* padding-top: 30px; */
}

.about-wrapper .title {
  font-weight: 600;
  padding-bottom: 10px;
}

.about-wrapper .email {
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
}

.about-wrapper .email .icon {
  cursor: pointer;
}

.about-wrapper .social-links {
  display: flex;
  gap: 10px;
}

.about-wrapper .about-me {
  padding-top: 20px;
  display: flex;

  flex-direction: column;
  gap: 10px;
}

.about-wrapper .skill-title {
  font-weight: 600;
  padding: 30px 0 10px;
}

.about-wrapper .skills {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 10px;
}

.about-wrapper .skill img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 600px) {
  .about-wrapper {
    padding: 10px;
  }
 
  /* .about-wrapper .skill {
    flex-wrap: wrap;
    gap: 10px;
  } */
  .about-wrapper .skill img {
  width: 40px;
  height: 40px;
}
}
